#boxes{
  width:80%;
  margin:auto;
  text-align: center;
}

#btns{
  padding:20px;
  background:rgb(221, 177, 177);
  margin-bottom:20px;
}

#btns button{
  padding:5px 10px;
  border:0;
}

#btns .fa{
  font-size:30px;
}

#btns .fa-play-circle{
  color:rgb(128, 87, 0);
 
}

#btns .fa-pause-circle{
  color:rgb(47, 0, 255);
  
}

.box{
  position: relative;
  width:100px;
  height: 100px;
  margin:4px;
  display:inline-block;
}

.red{background-color:red}
.blue{background-color:blue}
.green{background-color:green}
.yellow{background-color:yellow}